.square-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.square {
    width: 300px;
    height: 100px;
    max-height: 100px;
    border-radius: 20px;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 24px;
    color: #145265;
    transition: max-height 0.3s ease-out;

    &.show-answer {
        max-height: 500px;
    }
}
  
.square-text {
    display: none;

    &.show {
        display: block;
    }
}

.answer {
    font-size: 16px;
    text-align: justify;
    margin: 10px;
}

