.pageTitle{
    margin-left: 100px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
  
.title {
    text-align: center;
    color: #145265;
    margin-left: 50px;
}

.custom-icon{

    color: #145265;
}

.contextText {
    text-align: center; /* Centra el texto */
}

.cardContainer{

    border: 2px solid #145265; /* Establece un borde de 1px con color #ccc */
    border-radius: 25px; /* Agrega esquinas redondeadas */
    padding: 10px; /* Agrega un espacio interno de 10px */
    text-align: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
}
  