.body {
  background-color: #145363;
  height: 100%;
  text-align: center;
}

img {
  margin-left: -8em;
  margin-top: 13em;
  position: absolute;
}

.circulo {
  position: absolute;
  margin-top: 40em;
  right: 48%;
}
