<ion-menu contentId="main-content" side="end">
  <ion-header>
    <ion-toolbar>
      <ion-title style="font-size: 20px;">Trip&Go</ion-title>
      <ion-menu-toggle side="end">
        <ion-button color="warning-rgb"><ion-icon class="close-button" name="close-outline"></ion-icon></ion-button>
      </ion-menu-toggle>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding header-content">
    <ion-list lines="none">
      <ion-item href="/login" class="login-singup">
        <ion-label>LOGIN  |  SINGUP</ion-label>
      </ion-item>
      <ion-item href="/tourist-packages" class="tourist-packages">
        <ion-label>TOURIST PACKAGES</ion-label>
      </ion-item>
      <ion-item href="/events" class="events">
        <ion-label>EVENTS</ion-label>
      </ion-item>
      <ion-item href="/museums" class="museums">
        <ion-label>MUSEUMS</ion-label>
      </ion-item>
      <ion-item href="/restaurants" class="restaurants">
        <ion-label>RESTAURANTS</ion-label>
      </ion-item>
      <ion-item href="/places" class="places">
        <ion-label>FREE ACCESS PLACES</ion-label>
      </ion-item>
      <ion-item href="/contact" class="contact">
        <ion-label>CONTACT</ion-label>
      </ion-item>
      <ion-item href="/fqa" class="fqa">
        <ion-label>FQ&A</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="container" id="main-content" >
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-avatar routerLink="/home"><img src="../assets/icon/icono-header.png" alt="Logo-Header"></ion-avatar>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="container" [fullscreen]="true">
    <ion-item-group class="content" >
      <ion-item class="item">
        <ion-label class="texto" position="stacked">NAME</ion-label>
        <ion-label class="data" position="stacked">{{user.name}}</ion-label>
      </ion-item>
    
      <ion-item class="item">
        <ion-label class="texto" position="stacked" >SURNAME</ion-label>
        <ion-label class="data" position="stacked">{{user.surname}}</ion-label>
      </ion-item>
    
      <ion-item class="item">
        <ion-label class="texto" position="stacked" >EMAIL</ion-label>
        <ion-label class="data" position="stacked"> {{user.email}}</ion-label>
      </ion-item>
  
      <ion-item class="item">
        <ion-label aria-label="Enter an email" class="texto" position="stacked" >WISHLIST</ion-label>
      </ion-item>
  
      <div class="WISHLIST">
          <ion-card slot="start">
            <img src="{{events?.img}}" alt="image: {{events?.name}}" class="img-event">
            <ion-card-title class="name-event">{{events?.name}}</ion-card-title>
            <ion-card-subtitle class="date-event">Event date: {{events?.date}}</ion-card-subtitle>
          </ion-card>
      </div>
  
      <ion-button class="custom-button" fill="clear" routerLink="/home" (click)="logOut()"><ion-icon name="log-out-outline"></ion-icon>LOG OUT</ion-button>
    </ion-item-group>

  </ion-content>
  
</div>
