ion-title{
    color: #EFC749;
    text-align: center;
}

.toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3em;
    margin-left: 2em;
  }

  .content{
    margin-top: 3em;
    margin-left: 1em;
}

.icono-candado{
    margin-left: 3.5em;
    margin-top: 2em;
}


.item-title{
    color: #145265;
    font-weight: bold;
    text-align: center;
    font-size: 1.2em;
}

.item-text{
    text-align: center;
    font-size: 0.9em;
    white-space: normal;
    padding-bottom: 2em;
}

.texto{
    color: #145265;
    font-weight: bold;
}

ion-input{
    border: 0.1em solid #145265;
    border-radius: 0.5em;
    margin-bottom: 0.5em;
}

.custom-button {
    --width: 2em;
    margin-left: 6.5em;
    margin-top: 2em;
  }