<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar class="toolbar">
      <ion-avatar routerLink="/home"><img src="../assets/icon/icono-header.png" alt="Logo-Header"></ion-avatar>
      <ion-title size="large" class="tittle">TRIP & GO</ion-title>
    </ion-toolbar>
  </ion-header>

  <img src="https://firebasestorage.googleapis.com/v0/b/tripandgo-8fee3.appspot.com/o/imagenes%2Fcandado.png?alt=media&token=978ec64d-dc7a-43c4-b3d1-a51b3e116de7" class="icono-candado">

  <ion-item-group class="content">
    <ion-item class="item">
      <ion-label position="stacked" class="item-title">Forgot password?</ion-label>
      <ion-label position="stacked" class="item-text">Enter your email and we will send you an email for recovery</ion-label>
    </ion-item>
    
    <ion-item class="item">
      <ion-label label="Enter an email" class="texto" position="stacked">EMAIL</ion-label>
      <ion-input #emailInput type="email"></ion-input>
    </ion-item>
    

    <ion-button class="custom-button" (click)="resetPassword()" routerLink="/login">RESET PASSWORD</ion-button>

  </ion-item-group>



</ion-content>
