.menu-header {
  background-color: rgb(20, 82, 101, 0.63);
}

.close-button {
  background: none;
  color: black;
  font-size: 30px;
}

.menu-btn {
  font-size: 40px;
}

.button-native::after {
  background: none;
}

.name-museum{
  margin-bottom: 1em;
  font-size: 1.25em;
  text-align: center;
  font-weight: bold;
}

.img-museum{
  border-radius: 2em;
  margin-left: 1em;
  width: 90%;
}

.contenido{
  margin-top: -1em;
  text-align: center;
  padding: 2em;
}

.button-museum{
  margin-left: 8em;
}
