<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar class="toolbar">
      <ion-avatar routerLink="/home"><img src="../assets/icon/icono-header.png" alt="Logo-Header"></ion-avatar>
      <ion-title size="large" class="tittle">TRIP & GO</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item-group class="content">
      <ion-item class="item">
        <ion-label label="Enter your email" class="texto" position="stacked">EMAIL</ion-label>
        <ion-input type="email" [(ngModel)]="emailInput"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label label="Enter a password" class="texto" position="stacked">PASSWORD</ion-label>
        <ion-input [type]="showPassword ? 'text' : 'password'" [(ngModel)]="passwordInput"></ion-input>
        <ion-button (click)="togglePassword()" slot="end" class="ojo">
          <ion-icon [name]="showPassword ? 'eye-off' : 'eye'"></ion-icon>
        </ion-button>
      </ion-item>
      
      
      <ion-button class="button-text" fill="clear" routerLink="/forgot-password" >Forgot your password?</ion-button>
    </ion-item-group>

    <ion-button class="custom-button" (click)="login()" type="submit">LOG IN</ion-button>

    <ion-item class="item-register">
      <ion-label class="texto" position="stacked">DON´T HAVE AN ACCOUNT?</ion-label>
      <ion-button class="button-signup" fill="outline" routerLink="/register">SIGN UP</ion-button>
    </ion-item>
</ion-content>