<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar class="toolbar">
      <ion-avatar routerLink="/home"><img src="../assets/icon/icono-header.png" alt="Logo-Header"></ion-avatar>
      <ion-title size="large" class="tittle">TRIP & GO</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item-group class="content">
      <ion-item class="item">
        <ion-label label="Enter your email" class="texto" position="stacked">EMAIL</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label label="Enter your password" class="texto" >PASSWORD</ion-label>
        <ion-input class="ion-padding-end" type="{{ showPassword ? 'text' : 'password' }}" class="ion-align-items-center">
          <ion-button (click)="togglePassword()" class="ion-justify-content-end" slot="end">
            <ion-icon name="{{ showPassword ? 'eye-off' : 'eye' }}"></ion-icon>
          </ion-button>
        </ion-input>
      </ion-item>
      
      
      <ion-button class="button-text" fill="clear">Forgot your password?</ion-button>
    </ion-item-group>

    <ion-button class="custom-button" (click)="login()" type="submit">LOG IN</ion-button>

    <ion-item class="item-register">
      <ion-label class="texto" position="stacked">DON´T HAVE AN ACCOUNT?</ion-label>
      <ion-button class="button-signup" fill="outline" routerLink="/register">SIGN UP</ion-button>
    </ion-item>
</ion-content>
