<ion-app>
  <ion-header>
    <ion-menu contentId="main-content" side="end">
      <ion-header>
        <ion-toolbar color="tertiary">
          <ion-title>Trip&Go</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">This is the menu content.</ion-content>
      <ion-menu-toggle>
        <ion-button>Click to close the menu</ion-button>
      </ion-menu-toggle>
    </ion-menu>
    <div class="ion-page" id="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title>Trip&Go</ion-title>
          <ion-avatar slot="start" routerLink="/home">
            <img src="../../../assets/icon/icono-header.png" alt="Avatar">
          </ion-avatar>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding"> Tap the button in the toolbar to open the menu. </ion-content>
    </div>
  </ion-header>
  <ion-router-outlet></ion-router-outlet>
  <ion-tabs *ngIf="visibleComponents">
    <ion-tab-bar slot="bottom" class="footer footer-bar">
      <ion-tab-button routerLink="/">
        <ion-thumbnail><img src="../assets/icon/footer/location.png" alt="Location"></ion-thumbnail>
      </ion-tab-button>
      <ion-tab-button routerLink="/home">
        <ion-thumbnail><img src="../assets/icon/footer/home.png" alt="Home"></ion-thumbnail>
      </ion-tab-button>
      <ion-tab-button routerLink="/">
        <ion-thumbnail><img src="../assets/icon/footer/user.png" alt="User"></ion-thumbnail>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
