<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <ion-tabs *ngIf="visibleComponents">
    <ion-tab-bar slot="bottom" class="footer footer-bar">
      <ion-tab-button routerLink="/tourist-packages">
        <ion-thumbnail class="icon"><img src="../assets/icon/footer/location.png" alt="Location"></ion-thumbnail>
      </ion-tab-button>
      <ion-tab-button routerLink="/home">
        <ion-thumbnail class="icon"><img src="../assets/icon/footer/home.png" alt="Home"></ion-thumbnail>
      </ion-tab-button>
      <ion-tab-button routerLink="/profile">
        <ion-thumbnail class="icon"><img src="../assets/icon/footer/user.png" alt="User"></ion-thumbnail>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
