<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar class="toolbar">
      <ion-avatar routerLink="/home"><img src="../assets/icon/icono-header.png" alt="Logo-Header"></ion-avatar>
      <ion-title size="large" class="tittle">TRIP & GO</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item-group class="content">
    <ion-item class="item">
      <ion-label label="Enter your name" class="texto" position="stacked">NAME</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item class="item">
      <ion-label label="Enter your surname" class="texto" position="stacked">SURNAME</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

      <ion-item class="item">
        <ion-label label="Enter an email" class="texto" position="stacked">EMAIL</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label label="Enter a password" class="texto" position="stacked">PASSWORD</ion-label>
        <ion-input  type="{{ showPassword ? 'text' : 'password' }}">
          <ion-button (click)="togglePassword()"><ion-icon name="{{ showPassword ? 'eye-off' : 'eye' }}" slot="icon-only" (click)="togglePassword()"></ion-icon></ion-button>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label label="Repeat a password" class="texto" position="stacked" >REPEAT PASSWORD</ion-label>
        <ion-input  type="{{ showPassword ? 'text' : 'password' }}">
          <ion-button (click)="togglePassword()"><ion-icon name="{{ showPassword ? 'eye-off' : 'eye' }}" slot="icon-only" (click)="togglePassword()"></ion-icon></ion-button>
        </ion-input>
      </ion-item>
      
    </ion-item-group>
    
    <ion-button class="custom-button" (click)="register()" type="submit">REGISTER</ion-button>

</ion-content>
