.menu-header {
  background-color: rgb(20, 82, 101, 0.63);
}

.close-button {
  background: none;
  color: black;
  font-size: 30px;
}

.menu-btn {
  font-size: 40px;
}

.button-native::after {
  background: none;
}

.titulo{
  margin-left: 1.5em;
  margin-top: 2em;
  font-weight: bold;
}

.RESTAURANTS{
  margin-left: 1.5em;
  margin-top: 1em;
}

.restaurants{
  margin-bottom: 1.5em;
}

.name-restaurants {
  margin-top: 0.5em;
  margin-bottom: 0.25em;
  font-size: 1.25em;
  text-align: center;
}

.desc-restaurants{
  text-align: center;
  font-size: 1em;
}

.img-restaurants{
  border-radius: 1em;
}

